@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700;900&family=Open+Sans:wght@400;700&display=swap");
* {
  /* border: 1px solid lightblue; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Open Sans", sans-serif;
}
:root {
  --red: #d71920;
  --secondRed: #e64e19;
  --lightGrey: #191b2833;
  --bgGrey: #f7f7f7;
  --darkBlue: #191b28;
  --white: #ffffff;
  --fontGrey: #5e5f68;
}
/* ----- */
.titleWhite {
  color: #ffffff;
}
.titleBlue {
  color: var(--darkBlue);
}
/* nav */
nav {
  height: 100px;
  padding: 1rem;
  position: fixed;
  top: 0;
  background-color: white;
  right: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  /* align-items: flex-end; */
  align-items: center;
}
/* logoImg */
nav .logoImg {
  width: 330px;
  height: 100%;
  /* margin-bottom: 10px; */
}
nav .logoImg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* 手機版分享連結btn */
.MBshareLink {
  display: none;
}
.MBshareLink button,
.MBshareLink a {
  width: 35px;
  height: 35px;
  background: var(--fontGrey);
  color: var(--darkBlue);
  display: block;
  text-align: center;
  border-radius: 50%;
  margin: 0 13px;
  line-height: 35px;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.3s;
}
.navLink {
  height: 100%;
  display: flex;
  align-items: flex-end;
  position: relative;
  /* border: 1px solid lavender; */
}
.navLink .toolTip {
  background-color: var(--darkBlue);
  color: white;
  font-size: 12px;
  position: absolute;
  top: 0%;
  padding: 0 5px;
  border-radius: 3px;
  display: none;
  transition: 0.3s;
}
.navLink .toolTip::after {
  content: "";
  position: absolute;
  z-index: 12;
  border-right: 6px solid transparent;
  border-top: 6px solid var(--darkBlue);
  border-left: 6px solid transparent;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
}
.navLink button,
.navLink a {
  background: #191b2833;
  color: white;
  width: 30px;
  height: 30px;
  display: block;
  font-size: 1rem;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  margin-right: 1rem;
  transition: 0.3s;
}

.MBshareLink button,
.navLink button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MBshareLink button:hover,
.navLink button:hover,
.MBshareLink a:hover,
.navLink a:hover {
  background-color: red;
  color: white;
}
ion-icon {
  font-size: 20px;
  font-weight: 700;
  --ionicon-stroke-width: 16px;
}

/* banner */
/* 手機版banner */
.mobileImg {
  display: none;
  width: 350px;
  height: 329px;
}
.mobileImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.linkItems {
  display: none;
  margin-bottom: 3rem;
}
.linkItems a {
  text-decoration: none;
  color: white;
  padding: 13px 26px;
  text-align: center;
}
.linkItems a:hover {
  color: white;
}
/* webBanner */
.banner {
  margin-top: 100px;
  height: 744px;
  background: url(./../images/BannerBg.png) center top no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .contextImg {
  width: 60%;
  margin: auto;
  max-width: 900px;
}
.banner .contextImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* bannerNav */
.bannerNav {
  height: 3rem;
  background-color: var(--darkBlue);
  margin-top: -3rem;
  padding-right: 10rem;
  display: flex;
}
.bannerNav a {
  color: white;
  text-decoration: none !important;
  height: 100%;
  display: block;
  padding: 0 26px;
  line-height: 3rem;
  transition: 0.3s;
}
.bannerNav a:hover {
  color: white;
}
.linkItems a:last-child,
.bannerNav a:last-child {
  background-color: var(--red);
}
.bannerNav a:last-child:hover {
  background-color: var(--secondRed);
}
/* 滑動nav 變固定css */
.bannerNav.fixed {
  position: fixed;
  top: 146px;
  right: 0;
  left: 0;
  z-index: 10;
}
/* 展示重點 */
.mainContainer {
  max-width: 1440px;
  margin: auto;
}
main.contentOne {
  padding: 5rem 0rem;
  background-color: var(--bgGrey);
}
.contentOne .mainContainer {
  justify-content: space-between;
}
.contentOne .content {
  width: 48%;
}
.content.demoShow .demoSchedule {
  width: 250px;
  height: 250px;
}
.demoSchedule img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* --手機版 展示重點-- */
.MbdemoWrap {
  display: none;
  width: 100%;
  height: 311px;
  position: relative;
}
.MbdemoWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.MbdemoWrap .textWrap {
  padding-top: 40px;
  color: white;
  text-align: center;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}
.MbdemoWrap .textWrap h5 {
  font-size: 20px;
  margin-bottom: 1rem;
  line-height: 32px;
}
.MbdemoWrap .textWrap p {
  line-height: 2rem;
  margin-bottom: 0;
  position: relative;
}
.MbdemoWrap .textWrap p::before {
  content: " ";
  width: 1px;
  height: 1rem;
  background-color: white;
  position: absolute;
  top: 55%;
  left: 8px;
  transform: translateY(-50%);
}
/* 手機版輪播牆 */
.MbSlickWrap {
  margin-top: -98px;
  display: none;
  width: 100%;
}
.MbSlickWrap .slide {
  width: 300px;
  height: 240px;
  transition: 0.3s;
  overflow: hidden;
  text-align: center;
}
.MbSlickWrap .slide img {
  transition: 0.3s;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(0.85);
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}
.slick-slide.slick-center img {
  transform: scale(1);
}

.mainContainer h3 {
  padding: 0.5rem 2rem;
  border-left: 5px solid var(--red);
  font-size: 40px;
  line-height: 54px;
  font-weight: 400;
  color: var(--darkBlue);
  margin-bottom: 40px;
}
.contentOne .content p {
  line-height: 2rem;
  color: var(--darkBlue);
  font-weight: 400;
}
.contentTwo .content p.subTitle,
.contentOne .content p.subTitle {
  font-size: 20px;
  letter-spacing: 0.3rem;
  color: var(--fontGrey);
}
.contentOne .demoShow .demoImg {
  width: 312px;
  height: 250px;
  margin-left: -20px;
  margin-top: 92px;
  overflow: hidden;
}
.demoImg .carousel-item {
  width: 312px;
  height: 250px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 1);
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
}
.demoShow .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25)); */
  /* box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25); */
}

/* 議程資訊 */
.contentTwo .content .titleWhite {
  color: #ffffff;
}
.mainContainer {
  padding: 0 160px;
}
.contentTwo {
  position: relative;
  z-index: 1;
  padding-top: 86px;
  background: linear-gradient(
    180deg,
    #191b28e5 0%,
    #191b28e5 25%,
    #f7f7f7 25%,
    #f7f7f7 67%,
    #ffffff 67%,
    #ffffff 100%
  );
}
.contentTwo .content p.subTitle {
  color: white;
}
.contentTwo .content p.subTitle {
  color: #dfdfe1;
}
.subTitleWrap {
  justify-content: space-between;
}
.subTitleWrap a {
  text-decoration: none;
  color: white;
}
.subTitleWrap a:hover {
  color: white;
}

.subTitleWrap a i {
  color: var(--red);
  margin-right: 0.5rem;
  transition: 0.3s;
}

/* 手機版資訊card 展開*/
.scheduleCardWrap {
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
/* 收合 */
.scheduleCardWrap.close {
  height: 555px;
  overflow: hidden;
  justify-content: start;
}
.cardToggleBtn.open i {
  transform: rotate(180deg) translateY(-5%);
}
.scheduleCard {
  width: 100%;
  max-width: 500px;
  min-width: 343px;
  height: 175px;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.scheduleCard div {
  display: flex;
}
.scheduleCard * > p {
  margin-bottom: 0;
}
.scheduleCard .placeWrap a,
.scheduleCard span {
  font-size: 12px;
  color: #969696;
  text-decoration: none;
}
.scheduleCard .title {
  padding: 0.5rem;
  height: 40px;
  background-color: var(--fontGrey);
  border: 1px solid white;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
.scheduleCard .title span {
  font-size: 14px;
  color: white;
}
.scheduleCard .topicWrap {
  margin: 0.5rem;
  height: 90px;
  border-bottom: 1px solid var(--lightGrey);
}
.speaker {
  width: 30%;
  border-left: 1px solid var(--lightGrey);
}
.scheduleCard .topicWrap .topic {
  width: 70%;
}
.scheduleCard .placeWrap {
  padding: 0rem 1.5rem 0 0.5rem;
  color: var(--fontGrey);
}
.scheduleCard .placeWrap a i {
  color: var(--red);
  font-size: 12px;
  margin-right: 10px;
}
/* 展開表格 */
.cardToggleBtn {
  display: none;
  text-align: center;
  color: var(--secondRed);
  font-size: 20px;
  cursor: pointer;
}
.cardToggleBtn i {
  margin-right: 1rem;
  transition: 0.3s;
}
.cardToggleBtn.active i {
  transform: rotate(180deg);
}

/* 表格 */
.contentTwo .content table {
  background-color: white;
  padding: 0.25rem;
  margin-bottom: 86px;
}
table thead tr th {
  width: 20%;
  margin: 0.25rem;
  margin: 5px;
  background-color: var(--fontGrey) !important;
  border-width: 1px 2px 2px 3px;
  border-style: solid;
  border-color: #ffffff;
  text-align: center;
  color: white;
  font-size: 1rem;
  font-weight: 900;
}
table tbody td {
  height: 68px;
  vertical-align: middle;
}
.contentTwo .content table p {
  margin-bottom: 0;
}
.contentTwo table td.scheduleLink {
  text-align: center;
}
.contentTwo table td.scheduleLink a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--red);
  transition: 0.3s;
}
.contentTwo table td.scheduleLink a:hover {
  color: var(--darkBlue);
}
/* 資安區 */
.contentThree {
  margin-bottom: 7rem;
}
.contentThree p {
  line-height: 2rem;
  margin-bottom: 2rem;
  color: var(--darkBlue);
}
.contentThree .imgWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentThree .imgWrap img {
  width: 70%;
  height: 100%;
  object-fit: cover;
}
.contentThree .imgWrap .mbSecImg {
  display: none;
}
/* profile */
.contentFour {
  margin-bottom: 5rem;
}
.profileWrap {
  width: 588px;
  position: relative;
  height: 360px;
  border: 5px solid var(--red);
  padding: 86px 6px 80px 228px;
  margin-left: 121px;
}
.profileWrap .avatar {
  position: absolute;
  height: 360px;
  width: 310px;
  left: -121px;
  top: -2rem;
}
.profileWrap .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
}
.profileWrap .profile h3 {
  font-size: 1.5rem;
  line-height: 33px;
  padding: 0;
  padding-right: 0;
  padding-left: 2rem;
  color: var(--darkBlue);
}
.profileWrap .profile h1 {
  font-size: 40px;
  line-height: 54px;
  font-weight: 400;
  color: var(--darkBlue);
}
.contentFour .profileWrap p.subTitle {
  font-size: 16px;
  letter-spacing: 0.3rem;
  color: var(--fontGrey);
}
/* Footer */
footer {
  position: relative;
  height: 384px;
  background-image: url("./../images/FooterBg.png");
}
footer .mainContainer {
  padding: 80px 160px;
  align-items: center;
  justify-content: space-between;
}
footer a,
footer p {
  color: white;
  margin-bottom: 0.5rem;
  text-decoration: none;
}
footer a:hover {
  color: white;
}
footer .brandImg {
  margin-bottom: 140px;
}
footer .right p:first-child {
  margin-bottom: 2rem;
}
footer .linkWrap {
  margin-top: 2rem;
}
.linkWrap a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  position: relative;
  margin-right: 1rem;
}
.linkWrap a:hover {
  color: white;
}
.linkWrap a:not(:first-child):before {
  content: "";
  width: 1px;
  height: 16px;
  background-color: var(--fontGrey);
  position: absolute;
  top: 55%;
  left: -10px;
  transform: translateY(-50%);
}
.linkWrap a i {
  color: var(--red);
  margin-right: 6px;
}
@media (max-width: 1320px) {
  .mainContainer {
    padding: 0 2rem;
  }
  footer .mainContainer {
    padding: 80px 2rem;
  }
  .formContainer {
    padding-top: 78px;
  }
}
/* for web 輪播 */
@media (max-width: 1120px) {
  .demoShow {
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .contentOne .demoShow .demoImg {
    margin-top: 0rem;
    margin-left: 0;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .content.demoShow .demoSchedule {
    position: absolute;
    left: 0;
    top: 0;
  }
}

@media (max-width: 768px) {
  /* RWD nav & Banner */
  nav {
    height: 80px;
    align-items: center;
    padding: 1rem;
  }
  .banner {
    margin-top: 80px;
  }
  nav .logoImg {
    width: 220px;
    height: 30px;
  }
  nav .logoImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .navLink {
    display: none;
  }
  /* 手機版banner */
  .banner {
    flex-direction: column;
    justify-content: start;
  }
  .mobileImg {
    display: block;
    margin-top: 80px;
    margin-bottom: 2rem;
  }
  .banner .contextImg {
    display: none;
  }

  .bannerNav {
    display: none;
  }
  .linkItems {
    display: block;
    display: flex;
    flex-direction: column;
  }
  .MBshareLink {
    display: flex;
  }
  /* main一*/
  .contentTwo {
    padding-top: 0;
  }
  .contentThree {
    margin-top: 5rem;
  }
  .formContainer {
    background: linear-gradient(
      180deg,
      #191b28e5 0%,
      #191b28e5 25%,
      #f7f7f7 25%,
      #f7f7f7 100%
    );
  }
  .mainContainer {
    padding: 0 1rem;
  }
  .contentOne .mainContainer {
    padding: 0;
  }
  .contentOne .mainContainer {
    flex-direction: column;
    justify-content: start;
  }
  main.contentOne {
    padding-bottom: 0;
    padding-top: 1rem;
  }
  main.contentOne .demoShow {
    display: none !important;
  }
  .contentOne .content:first-child {
    padding: 2rem 1rem;
    width: 100%;
  }
  .MbdemoWrap {
    display: block;
  }
  .MbSlickWrap {
    display: block;
    margin-bottom: 3rem;
  }
  /* 議程資訊 RWD*/
  .formContainer {
    padding-top: 3rem;
  }
  .subTitleWrap {
    flex-direction: column;
  }
  .contentTwo .content table {
    display: none;
  }
  .scheduleCardWrap {
    display: flex;
  }
  .scheduleCard {
    display: block;
  }
  .cardToggleBtn {
    display: block;
  }
  /* 資安館 */
  .contentThree .imgWrap .webSecImg {
    display: none;
  }
  .contentThree .imgWrap .mbSecImg {
    display: block;
  }

  /* profile */
  .profileWrap {
    width: 375px;
    height: 480px;
    border: 5px solid var(--red);
    padding: 219px 30px 58px 32px;
    margin-left: 0px;
    margin-top: 120px;
  }
  .profileWrap .avatar {
    left: 50%;
    top: -181px;
    transform: translateX(-50%);
  }
  .contentFour {
    padding-bottom: 2rem;
    margin-bottom: 0rem;
  }
  /* footer */
  footer .mainContainer {
    flex-direction: column;
    padding: 40px 0.5rem;
  }
  footer .right {
    text-align: center;
  }
  footer .copyRight {
    white-space: nowrap;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
  }
  footer .brandImg {
    margin-bottom: 2rem;
    width: 175px;
    height: 24px;
  }
  footer .brandImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  footer .linkWrap {
    margin: 1rem 0;
  }
  .linkWrap a {
    margin-right: 0.6rem;
  }
  .linkWrap a:not(:first-child):before {
    left: -6px;
  }
}
@media (max-width: 500px) {
  .contentFour .mainContainer {
    padding: 0;
  }
  .MbdemoWrap .textWrap {
    min-width: 180px;
  }
  .profileWrap {
    width: 100%;
  }
  /* footer */
  footer * > p {
    font-size: 14px;
  }
  footer * > a {
    font-size: 12px;
  }
  footer .mainContainer {
    align-items: start;
  }
  footer .right {
    text-align: left;
  }
}
